body {
  background-image: url('http://localhost/wish-you-were-here/assets/images/bg.png');
}

.app-header {
  font-family: '"Josefin Slab",serif';
  text-align: center;
  color: #666;
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 30px;
  margin-top: 20px;
}

.app-header a {
  color: #666;
}

.app-header a:hover {
  color: #666;
  text-decoration: none;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.st-bg-image {
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon-spinner {
  font-size: 60px;
}

#your-photo span.searching {
  margin-left: 10px;
}

span.searching .icon-spinner {
  font-size: 25px;
}

#edit-canvas {
  text-align: center;
}

#edit-canvas canvas {
  position: relative !important;
}

#edit-fake {
  height: 400px;
  width: 600px;
  background-color: #CCCCCC;
  margin: auto;
}

.btn-emphasis {
  /*background-color: #c50a21;*/
  /*background-image: -webkit-linear-gradient(top, #ce1813, #c50a21);*/
  width: 600px;
  height: 40px;
  margin-top: 10px;
}

.btn-emphasis:hover {
  /*background-color: #FF0000;*/
}

.action-group {
  text-align: center;
  margin: 10px;
}

.action-group button {
  margin-left: 5px;
}