.st-bg-image {
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon-spinner {
  font-size: 60px;
}

#your-photo span.searching {
  margin-left: 10px;
}

#your-photo span.searching .icon-spinner {
  font-size: 25px;
}